/* RENDERER */
html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
}
body {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--font-color-default);
}
.container-wrapper {
  display: flex;
  flex: 1 0 auto;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 12rem);
}
.container {
  width: 80%;
  max-width: 120vmin;
  padding: 20px;
  background-color: var(--container-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  box-shadow: 0 1px 3px var(--container-bg-color), 0 8px 24px var(--bg-color);
}

/* HEADER */
.header {
  display: flex;
  flex: 0 0 auto;
  min-width: 100%;
  min-height: 2rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.header a {
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
}
.header .icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
  filter: var(--svg-icon-color);
}
.header .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color-default);
  margin-bottom: 20px;
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
}
.header .refresh {
  -moz-box-align: center;
  -moz-box-pack: end;
  animation: 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 refresh;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header .refresh:hover {
  transform: rotate(90deg);
}
@keyframes refresh {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CONTAINER */
/* Title */
.container-title {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 1rem 0;
  border-bottom: max(1px, 0.0625rem) solid var(--border-color) !important;
  gap: 1rem;
}
.avatar {
  border-radius: 50% !important;
  background-color: #ffffff1a;
  box-shadow: 0 0 0 1px var(--border-color);
  flex-shrink: 0;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 2rem;
  max-height: 2rem;
}
.repo-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--font-color-default);
}
.visibility-badge {
  border-color: var(--border-color);
  color: var(--font-color-muted);
  border: max(1px, 0.0625rem) solid var(--border-color);
  border-radius: 2em;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
  padding: 0 7px;
  white-space: nowrap;
  text-transform: capitalize;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Layout */
.container-layout {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem 2rem;
}
.layout-main {
  flex: 1;
}
.layout-main-header {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  align-self: self-start;
  text-align: start;
  -moz-box-flex: 1;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.layout-sidebar {
  flex: 1;
  max-width: 30%;
}
.layout-sidebar p a {
  display: flex;
}
.layout-sidebar p a img {
  bottom: 0;
  margin-right: 0.6rem !important;
  filter: var(--svg-font-color-muted);
}
.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: 0.5rem;
}
.main-table {
  width: 100%;
  border: 1px solid var(--border-color);
  border-collapse: separate;
  border-spacing: 0px;
  border-image: none;
  border-radius: 6px;
  table-layout: auto;
  overflow: unset;
  box-sizing: border-box;
  font-size: 0.875rem;
}
.main-table thead {
  display: none;
}
.main-table tbody tr td {
  border-top: 1px solid var(--border-color) !important;
  padding: 0.5rem 0.2rem;
}
.main-table tbody tr:first-child td {
  border-top: none !important;
}
.avatar-row {
  background-color: var(--bg-color-muted);
  padding-top: 0;
}
.author-link {
  display: flex;
}
.label-column {
  padding-left: 1rem !important;
  text-align: left;
}
.label-column .avatar {
  margin-left: 0 !important;
  margin-right: 0.75rem !important;
  filter: initial !important;
}
.label-column .icon {
  margin-left: 0.25rem;
  margin-right: 1rem;
  filter: var(--svg-font-color-muted);
  vertical-align: middle;
}
.ago-column {
  padding-right: 1rem !important;
  text-align: right;
  white-space: nowrap;
}
.block {
  margin-bottom: 1.5rem;
}
.block-border {
  border-bottom: max(1px, 0.0625rem) solid var(--border-color);
}
.muted {
  color: var(--font-color-muted);
}
.button {
  display: flex;
  -webkit-appearance: button;
  color: var(--font-color-rest);
  background-color: var(--bg-color-rest);
  appearance: button;
  gap: 3px;
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
  border-image: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  font-family: inherit;
  align-items: center;
  align-self: center;
  font-size: 14px;
  gap: 6px;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.button:hover {
  background-color: var(--bg-color-hover);
}
.button a {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 6px;
}
.button a:hover {
  text-decoration: none;
}
.button .icon {
  filter: var(--svg-color-rest);
}
.icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.small-icon {
  max-width: 1rem;
  max-height: 1rem;
}
.code-button {
  color: var(--font-color-primary);
  background-color: var(--code-bg-color);
}
.code-button:hover {
  background-color: var(--code-bg-hover-color);
}
.code-button img {
  filter: var(--svg-font-color-primary) !important;
}
.topic {
  display: inline-block;
  padding: 0 7px;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2rem;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0.125em 0.333em 0;
  line-height: 22px;
  background-color: var(--bg-color-topic);
  color: var(--sidebar-hover-color);
}
.topic:hover {
  text-decoration: none;
  background-color: var(--bg-color-topic-hover);
  color: var(--font-color-primary);
}
.homepage {
  display: flex;
  vertical-align: middle;
  color: var(--sidebar-hover-color);
}
.homepage img {
  margin-right: 0.5rem;
  filter: var(--svg-font-color-default);
}
.sidebar-link:hover .icon {
  filter: var(--svg-sidebar-hover-color);
}
.sidebar-link:hover {
  text-decoration: none;
  color: var(--sidebar-hover-color);
  filter: grayscale(0);
}
/* Media */
@media (max-width: 1000px) {
  .button .label {
    display: none;
  }
}
@media (max-width: 800px) {
  .layout-main-header {
    display: inline-block;
  }
  .layout-main-header .code-button {
    margin-top: 0.5rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: small;
  }
  .container-layout {
    flex-direction: column-reverse;
  }
  .layout-sidebar {
    max-width: 100%;
  }
}

/* FOOTER */
.footer {
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  min-height: 1rem;
  margin-top: 1rem;
  font-size: 0.875rem;
  color: var(--font-color-default);
  border-top: 1px solid var(--border-color);
}
.footer .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
  filter: var(--svg-icon-color);
  transition: filter 0.3s;
  transition: transform 0.3s;
}
.footer .icon:hover {
  filter: var(--svg-color-rest);
  transform: scale(1.1);
}

/* LOADER */
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* THEMES */
/* Light */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f6f8fa;
    --bg-color-hover: #eef1f4;
    --bg-color-rest: #f6f8fa;
    --bg-color-muted: #f6f8fa;
    --bg-color-topic: #ddf4ff;
    --bg-color-topic-hover: #0969da;
    --container-bg-color: #ffffff;
    --font-color-default: #1f2328;
    --font-color-primary: #ffffff;
    --font-color-muted: #636c76;
    --font-color-rest: #24292f;
    --border-color: #d0d7de;
    --code-bg-color: #1f883d;
    --code-bg-hover-color: #1c8139;
    --sidebar-hover-color: #0969da;
    --svg-font-color-default: invert(12%) sepia(19%) saturate(395%)
      hue-rotate(173deg) brightness(95%) contrast(96%); /* #1f2328 */
    --svg-font-color-primary: invert(100%) sepia(0%) saturate(7496%)
      hue-rotate(190deg) brightness(99%) contrast(120%); /* #ffffff */
    --svg-font-color-muted: invert(47%) sepia(4%) saturate(1092%)
      hue-rotate(171deg) brightness(87%) contrast(90%); /* #636c76 */
    --svg-icon-color: invert(61%) sepia(6%) saturate(595%) hue-rotate(171deg)
      brightness(95%) contrast(87%); /* #8b949e */
    --svg-sidebar-hover-color: invert(25%) sepia(29%) saturate(6352%)
      hue-rotate(203deg) brightness(100%) contrast(93%); /* #0969da */
    --svg-color-rest: invert(12%) sepia(14%) saturate(686%) hue-rotate(173deg)
      brightness(93%) contrast(90%); /* #24292f */
  }
}
/* Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #010409;
    --bg-color-hover: #292e36;
    --bg-color-rest: #21262d;
    --bg-color-muted: #161b22;
    --bg-color-topic: #388bfd1a;
    --bg-color-topic-hover: #1f6feb;
    --container-bg-color: #0d1117;
    --font-color-primary: #e6edf3;
    --font-color-default: #e6edf3;
    --font-color-muted: #8d96a0;
    --font-color-rest: #c9d1d9;
    --border-color: #30363d;
    --code-bg-color: #238636;
    --code-bg-hover-color: #29903b;
    --sidebar-hover-color: #4493f8;
    --svg-font-color-default: brightness(0) saturate(100%) invert(95%) sepia(9%)
      saturate(196%) hue-rotate(174deg) brightness(99%) contrast(92%); /* #e6edf3 */
    --svg-font-color-primary: brightness(0) saturate(100%) invert(95%) sepia(9%)
      saturate(196%) hue-rotate(174deg) brightness(99%) contrast(92%); /* #e6edf3 */
    --svg-font-color-muted: invert(64%) sepia(20%) saturate(178%)
      hue-rotate(171deg) brightness(89%) contrast(87%); /* #8d96a0 */
    --svg-icon-color: invert(61%) sepia(6%) saturate(595%) hue-rotate(171deg)
      brightness(95%) contrast(87%); /* #8b949e */
    --svg-sidebar-hover-color: invert(45%) sepia(75%) saturate(526%)
      hue-rotate(175deg) brightness(105%) contrast(95%); /* #4493f8 */
    --svg-color-rest: invert(86%) sepia(13%) saturate(153%) hue-rotate(169deg)
      brightness(100%) contrast(81%); /* #c9d1d9 */
  }
}
